<div class="jumbotron home-tron-search well ">
  <div class="container">
    <div class="row">

      <div class="col-sm-12">
        <div class="home-tron-search-inner">

          <div class="row">

            <div class="col-sm-8 col-xs-9" style="text-align: center">
              <div class="row">

                <div class="col-sm-12 col-sm-offset-1">
                  <div class="input-group">
                    <span class="input-group-addon input-group-addon-text hidden-xs"></span>

                    <%= render 'layouts/search_form' %>

                  </div>
                </div>
              </div>
            </div>


            <div class="col-sm-4 col-xs-3" style="text-align: center">
              <div class="row">
                <div class="col-sm-11 pull-right">
                  <!--<button class="btn btn-primary search-btn"><i class="icon-search"></i>&nbsp;&nbsp;&nbsp;&nbsp;Search</button>-->
                </div>
              </div>
            </div>


          </div>
        </div>
      </div>
    </div>
  </div>
</div>
