
<div class="jumbotron home-search" style="">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <br />
        <p class="main_description">Compare prices on 150,000+ cycling products, in one place</p>

        <br /><br />

        <form id="search-form" action="/products" method="get">

        <div class="row">

          <div class="col-sm-8 col-sm-offset-2" style="text-align: center">

            <div class="row">

              <div class="col-sm-10 col-sm-offset-1">
                <div class="input-group">
                  <span class="input-group-addon input-group-addon-text"></span>

                  <input type="text" name="search" class="form-control col-sm-3" placeholder="Find cycling products (e.g. Specialized, Helmet, Light)...">

                </div>
              </div>
            </div>

            <br />
            <br />

            <div class="row">
              <input type="submit" value="Search" class="btn btn-primary search-btn">
            </div>

          </div>

        </div>

        </form>

        <br />
        <br />
        <!--<div class="row">-->
          <!--<div class="col-sm-12" style="text-align: center">-->

            <!--<div id="quotes">-->
              <!--<div class="text-item" style="display: none;">Boom! <strong>Vince</strong> just sold a <strong>Washing Machine</strong> in <strong>Sheffield</strong></div>-->
              <!--<div class="text-item" style="display: none;"><strong>Julia</strong> is availiable for <strong>home cleaning</strong> in <strong>Manchester</strong></div>-->
              <!--<div class="text-item" style="display: none;">Success! <strong>Paul</strong> has just sold a <strong>Mercedes-Benz E-class</strong> in <strong>Liverpool</strong></div>-->
              <!--<div class="text-item" style="display: none;">Hey, <strong>Uber</strong> has a <strong>job opening</strong> in <strong>London</strong></div>-->
            <!--</div>-->

          <!--</div>-->
        <!--</div>-->
      </div>
    </div>
  </div>
</div>