
<div class="jumbotron home-search" style="">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <br />
        <p class="main_description">Compare pricing on more than 150,000 cycling products, in one place</p>

        <br /><br />
        <div class="row">

          <div class="col-sm-8 col-sm-offset-2" style="text-align: center">
            <div class="row">

              <div class="col-sm-10 col-sm-offset-1">
                <div class="input-group">
                  <span class="input-group-addon input-group-addon-text"></span>

                  <input type="text" class="form-control col-sm-3" placeholder="e.g. Specialized, Assos, Helmet ..">

                  <!--<div class=" input-group-addon hidden-xs">-->
                    <!--<div class="btn-group" >-->
                      <!--<button type="button" class="btn  dropdown-toggle" data-toggle="dropdown">-->
                        <!--All categories <span class="caret"></span>-->
                      <!--</button>-->
                      <!--<ul class="dropdown-menu" role="menu">-->
                        <!--<li><a href="#">Cars, Vans & Motorbikes</a></li>-->
                        <!--<li><a href="#">Community</a></li>-->
                        <!--<li><a href="#">Flats & Houses</a></li>-->
                        <!--<li><a href="#">For Sale</a></li>-->
                        <!--<li><a href="#">Jobs</a></li>-->
                        <!--<li><a href="#">Pets</a></li>-->
                        <!--<li><a href="#">Services</a></li>-->
                      <!--</ul>-->
                    <!--</div>-->
                  <!--</div>-->

                </div>
              </div>
            </div>
          </div>
        </div>
        <br />
        <br />
        <div class="row">
          <div class="col-sm-12" style="text-align: center">
            <!--<a href="listings.html" class="btn btn-primary search-btn">Search</a>-->
            <%= link_to 'Search', products_path, class: 'btn btn-primary search-btn'%>
          </div>
        </div>
        <br />
        <br />
        <!--<div class="row">-->
          <!--<div class="col-sm-12" style="text-align: center">-->

            <!--<div id="quotes">-->
              <!--<div class="text-item" style="display: none;">Boom! <strong>Vince</strong> just sold a <strong>Washing Machine</strong> in <strong>Sheffield</strong></div>-->
              <!--<div class="text-item" style="display: none;"><strong>Julia</strong> is availiable for <strong>home cleaning</strong> in <strong>Manchester</strong></div>-->
              <!--<div class="text-item" style="display: none;">Success! <strong>Paul</strong> has just sold a <strong>Mercedes-Benz E-class</strong> in <strong>Liverpool</strong></div>-->
              <!--<div class="text-item" style="display: none;">Hey, <strong>Uber</strong> has a <strong>job opening</strong> in <strong>London</strong></div>-->
            <!--</div>-->

          <!--</div>-->
        <!--</div>-->
      </div>
    </div>
  </div>
</div>